[Unit]
Description=Wifi Mirroring

[Service]
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/USER/.Xauthority"
ExecStart=autoscr
Restart=on-failure
KillMode=process

[Install]
WantedBy=default.target
